#root img{
  width:100%;
}

nav.navbar{
 background-color: #1e272f;
  margin-bottom:50px;
}
nav a.navbar-brand{
 color:#fff;
}
.jumbotron{
  padding:40px;
}

.col-md-8{
  margin-bottom:20px;
}

@media(min-width:960px){
#root .col-md-3 .well{
  height:450px;
}
#root .col-md-3 img{
  height:310px;
}
.col-md-3 h5{
  height:50px;
}
}
